.Rproj.user
.Rhistory
.RData
.Ruserdata

# dev stuff
/scripts/bootstrap.R
scripts/devcontainer-postcreate.sh
/.devcontainer/*


# data
/data/*
!/data/download_links.csv
/data/raw
/data/aoi/aoi_smoke_test.*

# scrapch, cache and output paths
/scratch
/outputs
/cache
.scfm_legacy/
/scfm_legacy/
.Rprofile
