.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# dev stuff
/scripts/bootstrap.R
scripts/devcontainer-postcreate.sh
/.devcontainer/*
.vscode

# data
/data/*
!/data/download_links.csv
/data/raw
/data/aoi/aoi_smoke_test.*

# scrapch, cache and output paths
/scratch
/outputs
/cache
.scfm_legacy/
/scfm_legacy/
.Rprofile

# emergent from config building and run logging
/workspace/*/runs.csv
/workspace/*/results/*
/workspace/*/figures/*
/workspace/*/config/generated/*
artifacts/
